doctype html
html(lang='en')
  head
    title #{title}
    // Bootstrap core CSS
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='#') PC Repairs

        #navbar.navbar-collapse
          ul.nav.navbar-nav
            if user
              li(class=(title == "Members" ? "active" : ""))
                a(href='/') Members
              li(class=(title == "Customers" ? "active" : ""))
                a(href='/customers') Customers
            if !user
              li(class=(title == "Register" ? "active" : ""))
                a(href='/users/register') Register
              li(class=(title == "Login" ? "active" : ""))
                a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/users/logout') Logout
        // /.navbar-collapse
    // Main jumbotron for a primary marketing message or call to action
    .container
      != messages('messages', locals)

      block content
    footer
      p.text-center © 2019 Company, Inc.
  // /container